/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
/*-----Global Reset-----*/

*{
	margin:0;
	padding:0;
	outline:0;
	border:none;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 30, 2012 */



@font-face {
    font-family: 'Rough_TypewriterRegular';
    src: url('rough_typewriter-webfont.eot');
    src: url('rough_typewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('rough_typewriter-webfont.woff') format('woff'),
         url('rough_typewriter-webfont.ttf') format('truetype'),
         url('rough_typewriter-webfont.svg#Rough_TypewriterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 4, 2012 */



@font-face {
    font-family: 'Rough_TypewriterBold';
    src: url('rough_typewriter_x_bold.eot');
    src: url('rough_typewriter_x_bold.eot?#iefix') format('embedded-opentype'),
         url('rough_typewriter_x_bold.woff') format('woff'),
         url('rough_typewriter_x_bold.ttf') format('truetype'),
         url('rough_typewriter_x_bold.svg#Rough_TypewriterBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

img.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;	
}
/*-----Main Layout-----*/
body{
	background: url('../images/main-bkg.png') repeat-x 0px 0px;
	font-family: "rough_typewriter", Arial, Helvetica, sans-serif;
}

.wrapper {
	width: 730px;
	height: 850px;
	background: url('../images/grunge-design.png') repeat-x 0px 0px ;
	margin: auto auto;
	position: relative;
	top: -30px;
}

/*NAVIGATION a:hover, a:active{background-image:url(../images/yellow-marker.png);}
*/
a { text-decoration: none; font-style: bolder;}
a:link, a:visited {	color: #000000;	}


#navigation-container {
	border: 1px solid none;
	text-align: center;
	margin: 15px;
}

#navmenu {
	width: 700px;
	height:25px;
	padding: 0px;
	margin: 0px auto;
	border: 1px solid none;
}

#navmenu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#navmenu ul li {
	width: 130px;
	float: left;
	margin-right: 10px;
	/*border: 1px solid white;*/
}

#navmenu ul li a {
	font-weight: bolder;
	text-decoration: none;
	display: block;
	width:130px;
	height: 20px;
	line-height: 20px;
	font-size:17px;
	float-left;
}


#navigation-container  {
	padding-top: 15px;
	margin-bottom: 5px;
}

#navmenu a:hover {
	background-image:url(../images/yellow-marker.png) ;
	background-repeat: no-repeat;
	background-position: center;
}

/*HOMEPAGE-CONTENTS*/
/*HOMEPAGE-SLIDER*/

.black-grunge{
	background-image:url('images/blk-grunge-bkg2.png' alt='blk-bkg');
}

.main-content-right {
	width: 480px;
	height: 520px;
	float: left;
	margin-left: 10px;
	margin-right:10px;
	/*border: 1px solid red;*/
}


/*SLIDER-STYLES*/
#slider{
margin-left: 20px;
border: 10px solid black;
}

#slider ul, #slider li{
	margin: 0;
	padding:0;
	list-style:none;
}

#caption p{
width: 96%;
padding: 2%;
position: absolute;
left: 0;
bottom: 0;
background: 
rgba(0, 0, 0, .6);
color: white;
text-align: center;
text-shadow: 0 -1px 0 
rgba(0, 0, 0, .3);
font-size: 14px;
line-height: 18px;
}


.container-slider{
background-image:url('images/frame-slider.png');
}
	
#slider li{ 
	width:425px;
	height:250px;
	overflow:hidden; 
}

.container-slider {
	
}
	



#container-slider #slider img{
	margin-top:0px;
	
}
#festival-statement p{
	margin-top:0px;
	margin-right: 50px;
	margin-left: 20px;
	float: left;
	width: 480px;
	height: 20px;
}
/*END-OF-HOMEPAGE-STYLES*/
/*START-OF-LINEUP-STYLES*/


.wrapper .blk-grunge {
	background-image: url('../images/blk-grunge-bkg2.png');
	height: 570px;
	width: 460px;
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 0px;
}

#lineup-container {
	padding-top: 10px;
	padding-left: 2px;
	width: 450px;
	height: 560px;
	margin: 1px 6px;
	/*border: 1px solid yellow;*/
}
#lineup-container a{
	float: left;
}

#navmenu a#onlink{
	background-image:url(../images/yellow-marker.png) ;
	background-repeat: no-repeat;
	background-position: center;
	}



/*ARTISTPAGE STYLES*/
#video-container{
	padding-top: 10px;
	width: 400px;
	height: 550px;
	margin:3px 30px;
	/*background-color: red;*/
}

#video h6 {
	font-weight: bold;
	color: #FFF;
}

#video h4{
	margin-left:0px;
	margin-top: 5px;
	color: #f3ec19;
}

#video img{
	margin-right: 10px;
}

aside .album-info{
	width:300px;
	height:115px;
	/*background-color: red;*/
}

.album-info p{
	margin-top:10px;
	float: right;
}
/*TICKETS-PAGE-STYLES*/

.tickets{
	margin: 10px 20px 0px 20px;
	width:425px;
	height: 550px;
	/*background-color: red;open back again 3/3*/
}


.tickets-icon {
	padding-top:5px;
}
#tickets-content{
	margin-left: 20px;
	width:380px;
	height:260px;
	/*background-color: blue;open back again2/3*/
}


.vip-pass1 h3{
	float:left;
	margin: 0 25px;
	width: 50px;
	color: #f3ec19;
	text-align: center;
	/*background-color: white;*/
	
}

.vip-pass1{
	float:left;
	padding-top: 40px;
	margin-bottom:0px;
	width: 125px;
	height:170px;
	background-image:url('../images/ticket-trio.png');
}


#tickets-content h1, h5{

	color: #f3ec19;
}

.tickets h6{
	color: #FFF;
}


/*TICKET-contactform-STYLES*/

#contactformwrapper {
	width:100%;
	height:200px;
	float: left;
	background-color:#000;
}

#contact-form div {
	margin: 10px 0;

}

#contact-form label {
	color: white;
	width: 100px;
	float:left;
	font-size: 12px;
	/*text-align:right;*/
}

#contact-form input {
	height: 15px;
	width: 150px;
	font-size: 12px;
	color: #FFF;
	border:2px solid white;
	background-color: black;
}

#contact-form textarea {
	height: 50px;
	width: 150px;
	max-width: 400px;
	border:2px solid white;
	background-color: black;
}

#contact-form input[type=submit]{
	width: 50px;
	height: 15px;
	background-color: red;
	border: 1px solid black;
	color: white;
	
}

#contact-form input[type=submit]:hover{
	background-color: red;
	cursor: pointer;
}

.map {
	position:relative;
	top: -168px;
	padding: 0 5px;
	float:right;
	
}


/*FORUM-PAGE-STYLES*/

.forum-container {
	padding: 10px 20px;
	width:300px;
	height: 300px;
	/*background-color:red;*/
}
.forum-container h1{
	color: #f3ec19;
	
}
#forum h6{
	color: #FFF;
}

#login-form {
	width: 400px;
	height: 30px;
	margin-top: 5px;
	/*background-color:blue;*/
}

#login-form div {
	float: left;
	margin: 2px 10px 5px 0px;
}

#login-form label {
	font-family: 'Rough_Typewriter', Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #f3ec19;
	font-size: 11px;
	text-align: center;
}

#login-form input.button {
	background: url(../images/footer-yellow-marker.png);
	width: 30px;
	height: 21px;
	border: none;
	margin-right: 0px;
	margin-top: -2px;
}

#login-form input {
	background-color: #D7D7D7;
	border: 1px solid #666;
	height: 18px;
	width: 110px;
	margin-right: 10px;
}

#register a {
	font-family: 'Rough_Typewriter', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: white;
	text-decoration: none;
}

/*TABLE-STYLES*/
table {
	margin:0 10px 0 0;
	text-align:center;
	width:420px;
	border:solid 1px #F00;
	border-collapse: collapse;
	border-spacing: 10px;
}

td{
	width:20%;
	border:solid 1px #fff;
	padding:5px;
	color: white;
}

th{
	border: solid 1px #000;
	padding: 5px;
	line-height:12px;
	font-size: 12px;
	background-color:#666;
	color:white;
}


.topic{
	margin:-3px;
}




tbody{
	font-size: 10px;
	background-color:black;
}

#forum-page {
text-align: center;
}



/*ALL-PAGES-FOOTER-STYLES*/
#footer-container {
	color: yellow;
	text-align: center;
	/*border: 1px solid red;*/
}

#footer-menu {
	width: 480px;
	height: 20px;
	padding: 0px;
	/*border: 1px solid green;*/
}

#footer-menu ul {
	list-style-type: none;
	margin: 0px;
	text-align: center;
}

#footer-menu ul li {
	width: 60px;
	float: left;
	margin:10px 10px;
	/*border: 1px solid red;*/
}

#footer-menu ul li a{
	font-family : 'Rough_Typewriter', Arial, Helvetica ;
	font-weight: bold;
	margin-right:60px;
	text-decoration: none;
	display: block;
	width: 50px;
	height: 20px;
	font-size: 10px;
}

#footer-menu a:hover {
	color: #f3ec19 ;
}

#content{
	width:458px;
	margin-left: 10px;
}


#content h3{
margin-top:10px;
	padding: 0 10px;
	color: #f3ec19;
	background-color: #000;
}


#content h5 {
	margin:  0px 0px 0px 150px;
	color: #f3ec19;
	text-align: left;
	padding: 1px;
	background-color: #000;
}

#content h2, h4 {
	margin: 8px 5px;
}

#content img {
	margin:10px 20px;
	float: left;
}

aside{
float: left;
width:200px;
}

.festival-text{
	font-size: 12px;
	font-weight: bold;
	
}

.festival-text p{
	width: 215px;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}

#buy-tickets {
padding: 0 10px;
color: #F3EC19;
background-color: black;
}

#more h5{
	width: 42px;
	float:right;
	margin-top: 10px;
	padding: 0 10px;
	color: #F3EC19;
	background-color: black;
}

#sponsors-container{
margin-top: 30px;
}

aside {
	width: 200px;
	float:left;
	/*background-color: blue;*/
}
p {
	font-weight: 900;	
}

.countdown-timer h1 { 
	margin-right: 50px;
	text-align: center;
}


#banner {
	background-image: url('../images/bird-banner.png');
	width: 230px;
	height: 170px;
	margin-left: -20px;
	/*border: 1px solid red;*/
}

#countdown {
	position:relative;
	top: 50px;
	margin-left:80px;
	
}

#social-media {
	margin:10px 0px 26px 20px;
	width: 180px;
	height: 18px;
	/*border: 1px solid red;*/
}

#social-media ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align:center;
}


#social-media ul li{
	width:20px;
	float: left;
	margin: 0 15px;
	/*border: 1px solid blue;*/

}

#social-media ul li a{
	text-decoration:none;
	display:block;
	width:20px;
	line-height: 20px;
	float: left;
}



#sponsors-menu {
	width: 200px;
	height:40px;
	padding: 0px;
	margin: 20px 10px;
	/*border: 1px solid blue;*/
}

#sponsors-menu ul {
	list-style-type: none;
	margin: -15px;
	padding:0px;
	text-align: center;
}

#sponsors-menu ul li a{
	width: 65px;
	float: left;
	/*border: 1px solid green;*/
}

#sponsors-menu ul li a {
	text-decoration: none;
	display: block;
	width: 65px;
	height: 42px;
}

#sponsors-container2{
	/*background-color: red;*/
	text-align: center;
	margin-left: 15px;
}

#sponsors-menu2 {
	width: 200px;
	height:40px;
	padding: 0px;
	margin: 15px auto;
	/*border: 1px solid blue;*/
}

#sponsors-menu2 ul {
	list-style-type: none;
	margin: -15px;
	padding:0px;
	text-align: center;
}

#sponsors-menu2 ul li a{
	width: 65px;
	float: left;
	/*border: 1px solid green;*/
}

#sponsors-menu2 ul li a {
	text-decoration: none;
	display: block;
	width: 65px;
	height: 42px;
}


#footer {
	font-size: 10px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: #FFF;
	border-top: 1px solid black;
	background-color: #000;
}



/*GALLERY-PAGE-STYLES*/


#gallery-nav a{
width: 100px;
height: 30px;
position: relative;
top: -5px;
color:white;
margin-right: 125px;
	
}



.gallery-container {
	padding-top: 10px;
	margin:0 61px;
	/*background-color: red;*/
}

.gallery2012 {
	font-size: 20px;
	color: #f3ec19;
	background-color: blue;
}

#gallery-nav{
	color:#f3ec19;
	/*background-color:green;*/
}


#gallery-nav a#selector{
color:#f3ec19;
}






/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: none; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/*Apply clearfix class to container element containing the floated elements*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

